# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build Output
dist/
dist-ssr/

# Environment Variables (CRITICAL FOR SECURITY)
.env
.env.local
.env.*.local

# OS system files
.DS_Store
Thumbs.db